<div class="card mb-5">
    <a href="/product?id={{_id}}">
        <img src="../images/{{image}}" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
        <h6 class="card-title">{{name}}</h6>
    </div>
    <div class="card-footer">
        <span class="card-text"><b>{{price}}$</b></span>
        <a href="/adding-to-cart/{{_id}}" class="btn btn-success float-right add-to-cart">Add to cart
        </a>
    </div>
</div>